head {
    color: #000000;
    text-align: center;
}

h1 {
    border-style:solid;
}

p {
    text-align: center;
}
body {
    background-color: #f0ffff;
    padding: 20px;
}

#tt-image, #ig-image {
    width: 75px;
    height: 75px;
    object-fit: contain;
    margin-right: 10px;
    vertical-align: middle;

}

a {
    display: inline-block;
    padding: 12px 30px;
    margin: 10px;
    border: 2px solid #000000;
    border-radius: 8px;
    text-decoration: none;
    color: #000000;
    background-color: #ffffff;
}

li {
    list-style-type: none;
    color: #000080;
    display: inline-block;
    font-family: Georgia, serif;
}


footer {
    color: #000000;
    text-align: center;
    font-family: system-ui, -apple-system, sans-serif;    
}