h1 {
    color:black;
    border-style:solid;
    text-align: center;
}

h2 {
    text-align:center;
}

body {
    background-color: azure;
    padding: 20px;
}

#tt-image {
    width: 100px;
    height:auto;
}

#ig-image {
    width: 100px;
    height:auto;
}